@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ҮБХИС МТТ цахим хуудас</h1>
    <p>ҮБХИС <a href="http://mndu.gov.mn/bhis1/mn/%d0%bd%d2%af%d2%af%d1%80/">илүү их мэдээллийг олж харна уу.</a>.</p>
</div>
